@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@300;400;500;600;700;800;900&family=Lato:wght@400;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,700;1,400;1,800&family=Roboto:wght@300;400;500;700&display=swap');


/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.purple {
    color: rgb(100, 21, 255);
}

/* Nav bar & Logo */

#nav {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding-top: 2rem;
    font-family: 'Inter', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: .875rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.nav-list {
    padding: 0 16px;
    text-decoration: none;
    color: rgb(32 66 99);
    transition: all 300ms ease;
}

.nav-list:hover {
    color: rgb(100, 21, 255);
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 900;
    margin-right: 24px;
    color: black;
    transition: all 400ms ease;
    width: 0;
}

.logo:hover {
    color: rgb(100, 21, 255);
}

.img-logo {
    height: 50px;
    width: 50px;
    padding-right: 12px;
}


.button {
    box-sizing: border-box;
    color: white;
    background-color: rgb(100, 21, 255);
    border-color: transparent;
    border-radius: 1.75rem;
    font-size: 16px;
    font-weight: 600;
    padding: 0 24px;
    margin: 0 24px;
    height: 50px;
    transition: all 450ms ease;
}

.button:hover {
    background-color: rgba(60, 14, 153, 0.877);
    cursor: pointer;
}



/* Email Signup Section */

#section-container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    position: relative;
}



.title {
    font-size: 48px;
}


.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 41.6667%;
}

.customer-logo {
    margin-top: 1rem;
    max-width: 100%;
}


.customer-img-logo {
    margin-top: 5rem;
}


.customer-text {
    font-size: .75rem;
}

.para {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 18px;
    text-align: left;
    color: rgb(36 62 99);
    width: 100%;
}

.left-signup {
    color: rgb(160 174 192);
    font-size: 18px;
    position: relative;
}




.email::placeholder {
    color: rgb(160 174 192);
}

.email {
    border-style: solid;
    position: relative;
    width: 100%;
    padding: 24px 12px 24px 75px;
    margin-bottom: 32px;
    border-color: rgb(160 174 192);
    border-radius: 48px;
    font-size: 18px;
    outline: none;
}

.button-email {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    color: white;
    background-color: rgb(100, 21, 255);
    border-color: transparent;
    border-radius: 1.75rem;
    font-size: 16px;
    font-weight: 600;
    padding: 0 24px;
    margin: 12px 12px 24px;
    height: 50px;
    transition: all 450ms ease;
}

.button-email:hover {
    background-color: rgba(60, 14, 153, 0.877);
    text-align: center;
    cursor: pointer;
}


.right-section {
    align-self: flex-end;
    margin: 48px;
    width: 60%;
}

.design1 {
    max-width: 100%;
}



/* Features */

#features {
    max-width: 1280px;
    margin: auto;
    padding: 96px 0;
    font-family: 'Inter', sans-serif;
    color: rgb(36, 62, 99);
}


.feature-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


.feature-title {
    font-size: 16px;
    letter-spacing: 1.125px;
    margin-bottom: 16px;
}

.subtitle {
    font-size: 48px;
    margin-bottom: 16px;
}

.feature-para {
    margin-bottom: 40px;
    width: 50%;
    font-size: 18px;
    color: rgb(124 139 161);
    text-align: center;
}


.services-column {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 22rem;
    margin-top: 12px;
    text-align: left;
}


.img-container {
    border: solid;
    border-width: 1px;
    border-radius: 50%;
    padding: 24px 24px;
    border-color: rgb(160 174 192);
    height: 50%;
}

.txt-container {
    line-height: 2;
    margin-left: 12px;
    margin-top: 12px;
    color: rgb(160 174 192);
}

span .title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
}

span.txt-title {
    color: rgb(36, 62, 99);
    font-weight: 700;
    font-size: 24px;
}


/* Quality */


#quality-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.quality-column-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.quality-column-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.quality-txt {
    width: 100%;
    margin-right: 64px;
}


img.quality-img {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(160 174 192);
}

h5.quality-title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.125px;
}


h2.quality-header {
    margin-bottom: 32px;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.25;
    color: rgb(36, 62, 99);
}

.quality-para {
    color: rgb(124 139 161);
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 48px;
    text-align: left;
    line-height: 1.625;
}


.learn-more {
    box-sizing: border-box;
    color: white;
    background-color: rgb(100, 21, 255);
    border-color: transparent;
    border-radius: 1.75rem;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 32px;
    height: 50px;
    transition: all 450ms ease;
    text-decoration: none;
}

.learn-more:hover {
    background-color: rgba(60, 14, 153, 0.877);
}



/* Get Started */

#get-started {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.get-started-container {
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
    position: relative;
}

.get-started-txt-container {
    max-width: 100%;
    margin-left: 64px;
}


h5.get-started-title {
    text-align: left;
    font-weight: 700;
    letter-spacing: 1.25px;
    font-size: 18px;
}

h2.get-started-header {
    margin-top: 16px;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.25;
}

.get-started-txt {
    padding-top: 32px;
    padding-bottom: 32px;
}


.get-started-img-container {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


img.get-start-img {
    width: 100%;
}

.step-number {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    color: rgb(160 174 192);
    opacity: .5;
    width: -webkit-fill-available;
    max-width: 10%;
}

h6.step-header {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
}

ul.steps-container {
    margin-top: 46px;
}

.step-txt {
    margin-left: 16px;
}

li.steps {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: flex-start;
    margin-top: 2rem;
}

p.step-description {
    margin-top: 0.75rem;
    max-width: 20rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(113 128 150);
}


/* Values Section */

#values {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.values-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 6rem;
    padding-bottom: 6rem;
}



.values-column-1 {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}


h5.values-title {
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 1.125px;
}

.value-txt {
    width: 100%;
}

h2.values-header {
    text-align: left;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
    margin-top: 16px;
    color: rgb(36 62 99);
    width: 100%;
    letter-spacing: 1.125px;
}

p.values-para {
    margin-top: 16px;
    text-align: left;
    font-weight: 600;
    font-size: 1.125rem;
    color: rgb(125 139 161);
    line-height: 1.625;
}


p.affordable-para {
    margin-top: 16px;
    color: rgb(113 128 150);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.625;
    letter-spacing: 1px;
    text-align: left;
}


.values-principles-container {
    display: flex;
}

.values-affordable {
    margin-top: 32px;
    margin-right: 32px;
}

.values-professionalism {
    margin-top: 32px;
    margin-right: 32px;
}

img.values-img-container {
    max-width: 100%;
}

a.learn-more.values-btn {
    width: 30%;
    text-align: center;
    margin-top: 48px;
}

a.learn-more.values-btn:hover {
    color: rgba(60, 14, 153, 0.877);
}